.mainContainer {
    display: flex;
    justify-content: center;
    width: 98.6%;
    margin-top: 64px;
    border-style: solid;
    border-width: 10px;
    border-color: #000000;
    
  }
  body{
    background-size: cover;
  }
  
  .dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    horizontal-alignment: center;
    
  }
  
  .header {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #121212;
    font-family: 'VT323', monospace;
    margin-bottom: 32px;
  }
  
  .bio {
    display: flex;
    text-align:center;
    color: #57cdff;
    font-size: 30px;
    margin-top: 32px;
    font-family: 'VT323', monospace;
  }
  
  .waveButton {
    cursor: pointer;
    background-image: linear-gradient(45deg, #66f0e0, #8e80ff);
      color: #ffffff;
    font-size: 30px;
      padding: 10px;
    border: 100;
    border-radius: 25px;
    width: 300px;
    margin: 2%;
    font-family: 'VT323', monospace;
  }
  
  .walletButton {
    cursor: pointer;
    background-color: #fdfcfc;
    color: #0bb18b;
    font-size: 36px;
    margin-top: 10px;
    padding: 10px;
    border: 100;
    border-radius: 15px;
    width: 400px;
   
    font-family: 'VT323', monospace;
  }
  
  .totalWaveButton {
    cursor: default;
    background-image: linear-gradient(to bottom right, #32776f, #413a73);
    color: #ffffff;
    font-size: 19px;
    padding: 10px;
    border-radius: 15px;
    position:relative; left:70px; top:-40px;
    font-family: 'VT323', monospace;
     
  }
  
  .totalWaveButton2 {
    cursor: default;
    background-image: linear-gradient(to bottom right, #32776f, #413a73);
    color: #ffffff;
    font-size: 19px;
    padding: 10px;
    border-radius: 15px;
    position:relative; right: -600px; top:-40px;
    font-family: 'VT323', monospace;
    
  }
  
  .gradient-text {
      background-image: linear-gradient(45deg, #f3ec78, #ff0048);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-text-fill-color: transparent;
      font-size: 35px;
  
  }
  .gradient-text2 {
      background-image: linear-gradient(45deg, #f9fbfb, #fcfcfc);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-text-fill-color: transparent;
      font-size: 50px;
  
  }
  
  .gradient-text3 {
      color: #f3ec78;
      font-size: 40px;
      font-family: 'VT323', monospace;
  
  }
  .tweetArea {
    cursor: auto;
    
    background-color: #ffffff;
    color: #69e9e2;
    font-size: 40px;
    margin: 2%;
    padding: 30px;
    border-style: inset;
    border-width: 2px;
    width: 600px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: 'VT323', monospace;
  
  }
  
  .messages {
    color: #ffffff;;
    background-Color: #000000;
    padding: 25px;
    border-style: inset;
    border-width: 3px;
    margin: auto;
    width: 800px;
    margin-bottom: 25px;
    margin-top: 25px;